LATITUDE=0.0000
LONGITUDE=0.0000
ALTITUDE_M=0.0
TIMEZONE=America/New_York

DATABASE_HOST_IP=192.168.1.100
DATABASE_PORT=8086
DATABASE_NAME=weather

LOGGER_DEVICE=pi_zero
ANALYSIS_DEVICE=pi_2

# Hex I2C address as printed by `i2cdetect -y 1` (0x76 on some BME280 boards)
BME280_I2C_ADDRESS=0x77
BME280_I2C_PORT=1
